extends layout

block content
  .card.py-3
      .card-title
        if message
          h1 Sign Up
          p #{message}
        else
          h1 Sign Up
      .card-body
        form(action = "/signup" method = "POST")
          .form-group
            input(name = "email" type = "text" required placeholder = "email@email.com")
            input(name = "username" type = "text" required placeholder = "Username")
          .form-group
            input(name = "password" type = "password" required placeholder = "Password")
            input(name = "passwordConf" type = "password" required placeholder = "Password Confirmation")
          button.btn.btn-warning(type= "submit") Create Account

